<h1><%= club.name %></h1>

<p>
  Description: <%= club.description %>
</p>

<%= link_to "Edit", edit_club_path(club) %>

<h2><%= t(".upcoming_meetings") %></h2>
<h2><%= t(".recent_meetings") %></h2>
<h2><%= t(".new_members") %></h2>
<h2><%= t(".regular_members") %></h2>
