<p>
  Title: <%= meeting.title %><br>
  Description: <%= meeting.description %><br>
  Start Time: <%= meeting.start_time_display %><br>
  End Time: <%= meeting.end_time_display %><br>
  Notes: <%= meeting.notes %>
</p>

<p><%= link_to "Edit", edit_club_meeting_path(club, meeting) %></p>

<h2><%= t(".attendees") %> &mdash; <%= meeting.attendances_count %></h2>

<%= render "meeting_attendances/attendances", club: club, attendances: meeting.attendances.includes(:attendee).limit(5) %>

<p><%= link_to "View All Attendees", club_meeting_attendances_path(club, meeting) %></p>

<p><%= link_to "Back", club_meetings_path(club) %></p>
