<table>
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Date &amp; Time</th>
      <th>Arrival Time</th>
      <th>Departure Time</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% attendances.each do |attendance| %>
      <tr>
        <td><%= link_to attendance.meeting.title_display, club_meeting_path(club, attendance.meeting) %></td>
        <td><%= attendance.meeting.date_and_time %></td>
        <td><%= attendance.arrival_time_display %></td>
        <td><%= attendance.departure_time_display %></td>
        <td><%= attendance.notes %></td>
        <td><%= link_to "Destroy", club_attendance_path(club, attendance), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
