<h1>Attendees &mdash; <%= meeting.attendances_count %></h1>

<%= form_with(model: meeting, url: club_meeting_attendances_path(club, meeting), local: true) do |f| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "attendance_form_fields", club: club, attendances: attendances, f: f %>

  <h2>Add Attendees</h2>

  <%= render "attendance_form_fields", club: club, attendances: new_attendances, f: f %>
  
  <%= f.submit %>
<% end %>

<p><%= link_to "Back", club_meeting_path(club, meeting) %></p>
