<nav class="nav">
  <div class="row">
    <ul class="col col-12 nav__items">
      <li class="nav__item">
        <%= link_to t(".home"), :root, class: "nav__link" %>
      </li>

      <% if current_user %>
        <li class="nav__item">
          <%= link_to t(".edit_profile"), edit_user_registration_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to t(".sign_out"), destroy_user_session_path, class: "nav__link", method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to t(".sign_in"), new_user_session_path, class: "nav__link" %>
        </li>
        <li>
          <%= link_to t(".sign_up"), new_user_registration_path, class: "nav__link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
