<p>
  First Name: <%= member.first_name %><br>
  Last Name: <%= member.last_name %><br>
  Notes: <%= member.notes %>
</p>

<p><%= link_to "Edit", edit_club_member_path(club, member) %></p>

<h2><%= t(".attended_meetings") %> &mdash; <%= member.attendances_count %></h2>

<%= render "member_attendances/attendances", club: club, attendances: member.attendances.includes(:meeting).limit(5) %>

<p><%= link_to "View Attendance History", club_member_attendances_path(club, member) %></p>

<p><%= link_to "Back", club_members_path(club) %></p>
